@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
      url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'),
      url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'),
      url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'),
      url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');
  font-style: normal;
  font-weight: 800
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Montserrat'
}

input, textarea, button {
  font-family: 'Montserrat'
}

a {
  text-decoration: none
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

img {
  max-height: 100%
}

.header {
  background-color: #ffffff
}

.container {
  max-width: 100%;
  margin-left: 30px;
  margin-right: 30px
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 58.55px;
  color: #333333
}

.section-content {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px
}

.position-block {
  display: flex;
  margin: 0;
  padding: 0
}

.position-block__item {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 455px
}

.position-block__title {
  margin: 0;
  padding: 0;
  font-size: 24.4px;
  font-weight: 600;
  line-height: 32px
}

/*Header*/
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 69px
}

.header__burger {
  display: none
}

.header__link {
  margin-right: auto
}

.header__logo {
  width: 223px;
  margin-bottom: 11px;
  margin-top: 11px
}

.header__nav {
  display: flex ;
  align-items: center
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 709px;
  margin-right: 64px
}

.header__nav-link {
  padding-bottom: 11px;
  border-bottom: 1px solid transparent;
  font-size: 17.9px;
  font-weight: 700;
  color: #333333;
  transition-property: border-bottom, color;
  transition-duration: 400ms;
  transition-timing-function: ease-in
}

.header__nav-link:hover {
  border-bottom: 2px solid #ff9900
}

.header__nav-link:active {
  border-bottom: 2px solid #e1670e;
  color: #e1670e
}

.header__button {
  border: 1px solid transparent;
  background-color: transparent
}

.header__button rect,
.header__button circle {
  transition-property: stroke, fill;
  transition-duration: 400ms;
  transition-timing-function: ease-in
}

.header__button:hover rect {
  fill: #ff9900
}

.header__button:hover circle {
  stroke: #ff9900
}

.header__button:active rect {
  fill: #e1670e
}

.header__button:active circle {
  stroke: #e1670e
}

/*Hero*/
.hero__container {
  min-height: 620px;
  margin-bottom: 100px;
  padding: 103px 840px 86px 77.5px;
  background-image: url('../img/hero-background.jpg');
  background-size: cover
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 70.37px;
  font-weight: 800;
  line-height: 86.4px;
  color: #ffffff
}

.hero__content {
  margin-top: 0;
  margin-bottom: 100px;
  font-size: 23.82px;
  font-weight: 600;
  line-height: 28.6px;
  color: #ffffff
}

.hero__button {
  min-height: 75px;
  min-width: 283px;
  padding: 23px 30px;
  border: 2px solid transparent;
  font-size: 23.46px;
  font-weight: 600;
  line-height: 29px;
  background-color: #ff9900;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 400ms ease-in
}

.hero__button:hover {
  background-color: rgba(255, 153, 0, 0.6)
}

.hero__button:active {
  background-color: #e1670e
}

/*About us*/
.about-us__container {
  margin-bottom: 100px
}

.about-us__title {
  margin-bottom: 25.5px
}
.about-us__content {
  margin-right: 535px;
  margin-bottom: 44.5px
}

.about-us__span {
  display: inline-block;
  width: 16px;
  margin-right: 9px;
  text-align: center;
  background-image: url('../img/about-us-eclipse.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 6px
}

.about-us__position-block-item:not(:nth-child(2n)) {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: 28.5px
}

.about-us__position-block-item-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/about-us-background.jpg');
  background-size: cover
}

.about-us__position-block-item:first-child {
  flex-direction: row;
  align-items: flex-end
}

.about-us__position-block-item:last-child {
  flex-direction: column
}

.position-block__container-right {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 177px;
  width: 100%;
  z-index: inherit;
  padding: 32px 60px 37px 54px;
  background-color: rgba(0, 0, 0, 0.5)
}

.position-block__container-left {
  min-height: 295px;
  padding: 65px 111px 50px 300px;
  border: 1px solid #cacaca
}

.position-block__container-left:first-child {
  background-image: url('../img/about-us-backgr.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 270px;
  background-position-x: 20px;
  background-position-y: 46px
}

.position-block__container-left:last-child {
  background-image: url('../img/about-as-backgr2.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x: 26px;
  background-position-y: 25px
}

.position-block__container-left:not(:last-child) {
  margin-bottom: 32px
}

.about-us__position-block-title {
  margin-bottom: 2px
}

.position-block__content {
  min-width: 500px;
  min-height: 90px;
  margin: 0;
  font-weight: 700;
  color: #ffffff
}

.position-block__button {
  min-width: 174px;
  min-height: 58px;
  margin-left: 74px;
  padding: 14px 31px;
  border: 2px solid #ff9900;
  font-size: 16.1px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: 400ms;
  transition-timing-function: ease-in
}

.position-block__button:hover {
  background-color: #ff9900
}

.position-block__button:active {
  background-color: #e1670e;
  border: 2px solid #e1670e
}

/*How we work*/
.how-we-work__container {
  margin-bottom: 100px
}

.how-we-work__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 470px;
  margin-top: 49px;
  margin-bottom: 46px
}

.how-we-work__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  transition: color 400ms ease-in
}

.how-we-work__link-active {
  color: #ff9900
}
.how-we-work__link:hover {
  color: #ff9900
}

.how-we-work__link:active {
  color: #e1670e
}

.how-we-work__position-block-item {
  display: flex;
  flex-direction: column;
  padding-right: 112px
}

.how-we-work__position-block-item:not(:last-child) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px
}

.how-we-work__position-block-item:last-child {
  margin-top: 10px;
  background-image: url('../img/hww-back.jpg');
  background-size: cover
}

.how-we-work__section-title{
  margin-bottom: 4px
}

.how-we-work__button-block {
  margin-top: 65px
}

.how-we-work__button {
  min-height: 60px;
  padding: 16px 38px;
  font-size: 16px;
  line-height: 20px
}

.how-we-work__button:first-child {
  min-width: 175px;
  margin-right: 30px;
  border: 2px solid transparent;
  font-weight: 700;
  background-color: #ff9900;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 400ms ease-in
}

.how-we-work__button:first-child:hover {
  background-color: rgba(255, 153, 0, 0.6)
}

.how-we-work__button:first-child:active {
  background-color: #e1670e
}

.how-we-work__button:last-child {
  min-width: 146px;
  border: 2px solid #333333;
  font-weight: 400;
  background-color: transparent;
  color:#333333;
  cursor: pointer;
  transition-property: background-color, border, color;
  transition-duration: 400ms;
  transition-timing-function: ease-in
}

.how-we-work__button:last-child:hover {
  background-color: #666666;
  color: #ffffff
}

.how-we-work__button:last-child:active {
  border: 2px solid transparent;
  background-color: #000000;
  color: #ffffff
}

/*FAQ*/
.faq__container{
  margin-bottom: 95px
}

.faq__title {
  margin-bottom: 36px;
  line-height: 65px
}

.faq__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  text-align: center;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition-property: border-bottom, border-top;
  transition-duration: 400ms;
  transition-timing-function: ease-in
}

.faq__item:hover {
  position: relative;
  border-color: #ff9900;
  z-index: 1
}

.faq__list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: #333333;
  transition-property: color, fill;
  transition-duration: 200ms;
  transition-timing-function: ease-in
}

.faq__list-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.faq__list-title:hover {
  color: #ff9900
}

.faq__list-title:hover ellipse {
  fill: #d2d2d2
}

/*Footer*/
.footer {
  min-width: 100%;
  background-color: #222
}

.footer__container {
  min-height: 630px;
  padding-top: 48px;
  padding-bottom: 80px
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.footer__item {
  display: flex;
  flex-direction: column;
  min-width: 598px
}

.footer__nav {
  margin-top: 9px
}

.footer__nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #cacaca
}

.footer__sotial-list {
  display: flex;
  margin-top: 105px
}

.footer__sotial-item {
  margin-right: 25px
}

.footer__form {
  margin: 0;
  padding: 7px 0px 0px 0px
}

.footer__form-border {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px;
  border: 1px solid transparent
}

.footer__form-leg {
  margin-bottom: 24px;
  margin-top: 12px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #cacaca
}

.input {
  width: 570px;
  margin-bottom: 25px;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid transparent;
  font-size: 16.2px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
  background-color: #414141
}
.footer__input {
  height: 60px
}

.footer__texterea {
  height: 150px;
  margin-bottom: 32px
}

.footer__button {
  min-width: 269px;
  min-height: 60px;
  margin-right: 15px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  background-color: #ff9900;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 400ms ease-in
}

.footer__button:hover {
  background-color: rgba(255, 153, 0, 0.6)
}

.footer__button:active {
  background-color: #e1670e
}

.footer__form-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca
}

.footer__content {
  max-width: 363px;
  min-height: 320px;
  margin-left: 210px;
  margin-top: 77px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32.2px;
  color: #cacaca
}
@media (max-width: 1770px) {
  .hero__container {
    padding: 103px 400px 86px 77.5px
  }

  .position-block__content {
    min-width: 200px
  }

  .position-block__container-left {
    padding: 65px 30px 50px 270px
  }

  .footer__item {
    justify-content: space-between;
    min-width: 400px
  }

  .footer__sotial-list {
    margin-top: auto
  }

  .input {
    width: 450px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin-left: 50px;
    margin-right: 50px
  }

  .position-block__item {
    min-height: 640px
  }

  /*Header*/
  .header__container {
    justify-content: space-between
  }

  .header__burger {
    display: block;
    transition-property: width, fill;
    transition-duration: 400ms;
    transition-timing-function: ease-in
  }

  .header__burger:hover rect {
    fill: #ff9900
  }

  .header__burger:active rect {
    fill: #e1670e
  }

  .header__link {
    max-height: 99px;
    margin: 0
  }

  .header__nav {
    display: none
  }

  .header__logo {
    width: 150px;
    margin: 25px 0px 22px 14px
  }

  .header__button {
    margin: 6px 0px 0px 0px;
    padding: 0px 0px 0px 14px
  }

  /*Hero*/
  .hero__container {
    min-height: 668px;
    margin-bottom: 60px;
    padding: 160px 150px 100px 45px;
    background-image: url('../img/hero-background-1200.jpg');
    background-size: cover
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px
  }

  .hero__content {
    margin-bottom: 110px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px
  }

  .hero__button {
    min-height: 77px;
    min-width: 287px;
    padding: 23px 32px;
    font-weight: 700
  }

  /*About us*/
  .about-us__container {
    margin-bottom: 50px
  }

  .about-us__title {
    margin-bottom: 25px
  }

  .about-us__content {
    margin-right: 0;
    margin-bottom: 58px
  }

  .about-us__position-block {
    display: flex;
    flex-direction: column
  }
  .about-us__position-block-item:not(:nth-child(2n)) {
    margin-right: 0;
    margin-bottom: 50px
  }

  .about-us__position-block-item-img{
   background-image: url('../img/about-us-background-1200.jpg')
  }

  .position-block__container-right {
    min-height: 160px;
    padding: 39px 47px 37px 44px
  }

  .position-block__container-left {
    padding: 65px 112px 49px 350px
  }

  .position-block__container-left:first-child {
    background-position-x: 70px;
    background-position-y: 53px
  }

  .position-block__container-left:last-child {
    background-position-x: 76px;
    background-position-y: 35px
  }

  .position-block__container-left:not(:last-child) {
    margin-bottom: 40px
  }

  .about-us__position-block-title {
    margin-bottom: 5px
  }

  .position-block__button {
    margin-left: 156px;
    padding: 18px 30px
  }

  /*How we work*/
  .how-we-work__container {
    margin-bottom: 52px
  }

  .how-we-work__menu {
    margin-bottom: 43px
  }
  .how-we-work__position-block-item {
    min-height: 689px;
    padding-right: 0px
  }

  .how-we-work__position-block-item:last-child {
    background-image: url('../img/hww-back-1200.jpg')
  }

  .how-we-work__position-block-item:not(:last-child) {
    margin-right: 48px
  }

  .how-we-work__button-block {
    margin-top: 29px
  }

  .how-we-work__button {
    padding: 14px 36px
  }

  .how-we-work__button:first-child {
    min-width: 173px;
    margin-right: 26px
  }

  /*FAQ*/
  .faq__container{
    margin-bottom: 55px
  }

  .faq__title {
    margin-bottom: 35px
  }

  .faq__item {
    padding: 24px 0px 25px 0px
  }

  .faq__item:nth-child(2n) {
    padding: 31px 0px 30px 0px
  }

  .faq__list-title {
    font-size: 20px;
    line-height: 32px;
    text-align: left
  }

  .faq__accord {
    margin-left: 100px
  }

  /*Footer*/
  .footer__item:last-child {
    display: none
  }

  .footer__item {
    justify-content: space-between;
    min-width: 233px
  }

  .footer__nav {
    margin-top: 0
  }

  .footer__sotial-list {
    margin-top: 90px
  }

  .footer__form {
    margin-top: 0;
    padding: 11px 0px 0px 0px
  }

  .footer__form-border {
    min-width: 534px
  }

  .footer__form-leg {
    margin-top: 10px;
    margin-bottom: 23px;
    padding-left: 0
  }

  .input {
    width: 534px
  }

  .footer__texterea {
    margin-bottom: 30px
  }

  .footer__button-link {
    display: flex;
    align-items: center;
  }

  .footer__button {
    min-width: 241px;
    margin-right: 8px
  }

  .footer__checkbox {
    margin-right: 0
  }
}

@media (max-width: 924px) {
  .position-block__item {
    min-height: 284px
  }

  /*Header*/
  .header__burger {
    margin-left: 48px;
    margin-bottom: 4px
  }

  .header__logo {
    margin: 10px 0px 7px 10px
  }

  .header__button {
    margin-right: 48px;
    margin-top: 0
  }

  /*Hero*/
  .hero__container {
    min-height: 700px;
    margin-bottom: 58px;
    padding: 192px 10px 114px 49px;
    background-image: url('../img/hero-background-768.jpg');
  }

  /*About us*/
  .about-us__container {
    margin-bottom: 58px
  }

  .about-us__content {
    margin-bottom: 61px;
    padding-right: 80px
  }

  .about-us__position-block {
    display: flex;
    flex-direction: column
  }

  .about-us__position-block-item:not(:nth-child(2n)) {
    min-height: 650px;
    margin-bottom: 40px
  }

  .about-us__position-block-item-img{
    background-image: url('../img/about-us-background-768.jpg')
  }

  .position-block__container-right {
    min-height: 160px;
    padding: 18px 30px 26px 29px
  }

  .position-block__container-left {
    min-height: 235px;
    padding: 33px 35px 35px 177px
  }

  .position-block__container-left:first-child {
    background-size: 180px;
    background-position-x: 0px;
    background-position-y: 56px
  }

  .position-block__container-left:last-child {
    background-size: 162px;
    background-position-x: 9px;
    background-position-y: 49px
  }

  .position-block__content {
    min-width: 400px;
    min-height: 120px
  }

  .position-block__button {
    margin-left: 35px;
    margin-top: 5px;
    padding: 15px 30px
  }

  /*How we work*/
  .how-we-work__container {
    margin-bottom: 58px
  }

  .how-we-work__menu {
    min-width: 668px;
    margin: 49px 0px 35px 6px
  }

  .how-we-work__position-block {
    display: flex;
    flex-direction: column-reverse
  }

  .how-we-work__position-block-item {
    margin-left: 4px
  }

  .how-we-work__position-block-item:not(:last-child) {
    margin-right: 0px
  }

  .how-we-work__position-block-item:last-child {
    margin-bottom: 38px;
    background-image: url('../img/hww-back-768.jpg');
  }

  .how-we-work__button-block {
    margin-top: 29px
  }

  /*FAQ*/
  .faq__container{
    margin-bottom: 58px
  }

  .faq__title {
    margin-bottom: 39px;
    font-size: 48px;
    line-height: 59px
  }

  .faq__item {
    padding-bottom: 21px
  }

  .faq__item:nth-child(3n) {
    padding-top: 30px;
    padding-bottom: 30px
  }

  .faq__item:nth-child(5n) {
    padding-top: 30px;
    padding-bottom: 30px
  }

  .faq__list-title {
    margin-left: 3px;
    font-size: 20px;
    line-height: 32px
  }

  .faq__accord {
    margin-top: 5px;
    margin-left: 30px
  }

  /*Footer*/
  .footer__container {
    padding: 47px 0px 59px 50px
  }

  .footer__form {
    margin: 0
  }

  .footer__list {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .footer__item {
    display: flex;
    flex-direction: column;
    min-width: 598px
  }

  .footer__logo {
    margin-top: 57px
  }

  .footer__nav {
    display: none
  }

  .footer__sotial-list {
    margin-top: 11px
  }

  .footer__button-link {
    min-width: 537px
  }
}

@media (max-width: 768px) {

  .container {
    margin-left: 0px;
    margin-right: 0px
  }

  .about-us__container {
    margin-left: 50px;
    margin-right: 50px
  }

  .about-us__content {
    padding-right: 0
  }

  .how-we-work__container {
    margin-left: 50px;
    margin-right: 50px
  }

  .position-block__content {
    min-width: 200px
  }

  .how-we-work__menu {
    min-width: 100%
  }

  .faq__container {
    margin-left: 50px;
    margin-right: 23px
  }

  .faq__list {
    padding-right: 27px
  }

  .input {
    max-width: 530px
  }

  .footer__item {
    min-width: 400px
  }

  .footer__form-border {
    min-width: 400px;
    margin: 0
  }

  .footer__button-link {
    display: flex;
    align-items: center;
    min-width: 400px
  }

  .footer__link {
    min-width: 400px;
    margin: 0
  }
}
@media (max-width: 700px) {
  .input {
    max-width: 440px
  }

  .footer__button-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 400px
  }
}

@media (max-width: 576px) {
  .container {
    margin-left: 15px;
    margin-right: 15px
  }

  .section-title {
    font-size: 24px;
    line-height: 29px
  }

  .section-content {
    font-size: 14px;
    line-height: 28px
  }

  .position-block__item {
    min-height: 200px
  }

  .position-block__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px
  }

  /*Header*/
  .header__container {
    flex-direction: row-reverse;
    min-height: 45px
  }

  .header__logo {
    width: 95px;
    margin: 5px 0px 0px 0px
  }

  .header__button {
    display: none
  }

  .header__burger {
    width: 23px;
    margin: 2px 1px 0px 0px
  }

  /*Hero*/
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 262px;
    margin-bottom: 39px;
    padding: 33px 27px 40px 28px;
    background-image: url('../img/hero-background-320.jpg');
    background-size: cover;
    background-position-y: 0px
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center
  }

  .hero__content {
    margin-bottom: 35px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center
  }

  .hero__button {
    min-width: 162px;
    min-height: 35px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px
  }

  /*About us*/
  .about-us__container {
    margin-bottom: 47px
  }

  .about-us__title {
    margin-bottom: 3px
  }

  .about-us__content {
    margin-bottom: 10px;
    padding-right: 0
  }

  .position-block__content {
    min-width: 110px;
    min-height: 60px;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 400;
    color: #333333
  }

  .about-us__position-block-item:not(:nth-child(2n)) {
    position: unset;
    flex-direction: column;
    min-height: 400px
  }

  .about-us__position-block-item-img{
    position: unset;
    width: 100%;
    min-height: 290px;
    background-image: url('../img/about-us-background-320.jpg')
  }

  .position-block__container-right {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 110px;
    padding: 0;
    background-color: transparent
  }

  .position-block__container-left:first-child {
    margin-bottom: 20px;
    padding: 60px 0px 0px 0px;
    background-size: 95px;
    background-position-x: -14px;
    background-position-y: -8px
  }

  .position-block__container-left:last-child {
    padding: 67px 0px 0px 0px;
    background-size: 85px;
    background-position-x: -11px;
    background-position-y: -8px
  }

  .position-block__container-left {
    min-height: 210px;
    border: none
  }

  .about-us__position-block-title {
    margin-bottom: 2px
  }

  .position-block__button {
    min-width: 162px;
    min-height: 34px;
    margin-left: 0px;
    padding: 11px 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    color: #ff9900;
    transition-property: background-color, color, border
  }

  .position-block__button:hover {
    background-color: #ff9900;
    color: #ffffff
  }

  .position-block__button:active {
    background-color: #e1670e;
    border: 2px solid #e1670e;
    color: #ffffff
  }

  /*How we work*/
  .how-we-work__container {
    margin-bottom: 38px
  }

  .how-we-work__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 32px 0px 17px 0px
  }

  .how-we-work__link {
    font-size: 14px;
    line-height: 17px
  }

  .how-we-work__position-block-item {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    margin: 0
  }

  .how-we-work__position-block-item:last-child {
    margin: 0px 0px 10px 0px;
    background-image: url('../img/hww-back-320.jpg')
  }

  .how-we-work__button-block {
    display: flex;
    margin-top: 20px
  }

  .how-we-work__button {
    min-height: 38px;
    padding: 11px 15px;
    font-size: 12px;
    line-height: 15px
  }

  .how-we-work__button:first-child {
    min-width: 162px;
    margin-right: 10px
  }

  .how-we-work__button:last-child {
    min-width: 118px
  }

  /*FAQ*/
  .faq__container{
    margin-bottom: 39px
  }

  .faq__title {
    margin-bottom: 16px;
    line-height: 29px
  }

  .faq__list {
    margin: 0
  }

  .faq__item:first-child {
    padding-top: 22px;
    padding-bottom: 24px
  }

  .faq__item:nth-child(2n) {
    padding-top: 30px;
    padding-bottom: 30px
  }

  .faq__item:nth-child(5n) {
    padding-top: 22px;
    padding-bottom: 23px
  }

  .faq__item .faq__accord {
    margin-left: 10px
  }

  .faq__list-title {
    min-width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500
  }

  .faq__accord-eclipse {
    width: 30px
  }
  .faq__accord {
    margin: 0
  }

  /*Footer*/

  .footer__container {
    min-height: 683px;
    padding-left: 0px
  }

  .footer__form {
    margin: 0;
    padding: 0;
    min-width: 290px
  }

  .footer__form-border {
    min-width: 290px;
    margin:0
  }

  .footer__form-border {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .footer__form-leg {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 24px;
    line-height: 29px
  }

  .input {
    width: 290px;
    padding-left: 22px;
    padding-top: 13px;
    font-size: 14px;
    line-height: 32px
  }

  .footer__texterea {
    margin-bottom: 26px
  }

  .footer__button-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 290px;
    margin-bottom: 22px
  }

  .footer__button {
    min-width: 180px;
    min-height: 40px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px
  }

  .footer__link {
    min-width: 290px
  }

  .footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 290px
  }

  .footer__item:first-child {
    border-top: 1px solid #595959
  }

  .footer__logo {
    margin-top: 23px
  }

  .footer__logo-img {
    width: 131px
  }

  .footer__sotial-list {
    margin-left: 15px;
    margin-top: 12px
  }

  .footer__sotial-item {
    margin-right: 15px
  }

  .footer__sotial-link-img {
    width: 35px
  }
}
